<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>
    <add key="MicrosoftLuisAuthoringKey" value="1650e54ada144a58acb538d594d06d28" />
    <add key="MicrosoftLuisAppKey" value="1650e54ada144a58acb538d594d06d28"/>
    <add key="MicrosoftLuisAppId" value="99b9673a-5eba-4b18-8203-884390b0fb41" />
  </appSettings>

</configuration>