<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>
    <add key="MicrosoftLuisAuthoringKey" value="c7c98f69696a42dba9642e8a3377ee55" />
    <add key="MicrosoftLuisAppKey" value="c7c98f69696a42dba9642e8a3377ee55"/>
    <add key="MicrosoftLuisAppId" value="99b9673a-5eba-4b18-8203-884390b0fb41" />
  </appSettings>

</configuration>